* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/fundo-jokenpo.jpg);
    background-size: cover;
}

.fundo-img {
    position: fixed;
    top: 0;
    z-index: -1;
}

img {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

button {
    width: 55px;
    height: 55px;
    margin: 20px 10px 30px 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

#rock {
    background-color: #810000;
}

#paper {
    background-color: #000081;
}

#scissors {
    background-color: #008100;
}

p {
    font-size: 22px;
    margin-bottom: 20px;
}

.your-score span {
color: #134087;
}

.machine-score span {
    color: #ba4011;
}